<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top py-3">
    <a class="navbar-brand font-wieght-bold col-md-2 text-center" routerLink="/home">Shopping Planet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/profile.html">Men</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./profile.html">Women</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./profile.html">Jackets</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./profile.html">Watches</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Login </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" >
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        <!-- <mdb-icon fas icon="user-circle"></mdb-icon> -->
      </form>
    </div>
  </nav>


