<div class="row my-5">
    <div class="col-md-4">
           
    </div>
    <div class="text-center p-4 col-md-4">
        <div class="card shadow" style="width: 25rem; height: 20rem;">
            <div class="card-body">
                <h5><b>Login with Shopping Planet</b></h5>
                <input class="tags w-75 my-4 py-1" type="email" placeholder="Email"><br>
                <input class="tags w-75 mb-4 py-1" type="password" placeholder="Password"><br>
                <a href="#"><button class="btn btn-danger w-75 mb-4 py-2 shadow-sm">Login</button></a>
                <p>New to Shopping Planet? <span><a href="#">Create an Account</a></span></p>
            </div>
        </div>
    </div>
</div>
    <!-- <div class="row">
        <div class="col-md-4">
           
        </div>
        <div class="col-md-4 login">
            <input class="tags" type="email" placeholder="Email"><br>
            <input class="tags" style="margin-top: 5%;" type="password" placeholder="Password"><br>
            <a href="#"><button class="btn btn-danger tags">Login</button></a>
        </div>
    </div> -->
