<div class="row my-5">
    <div class="col-md-4">
           
    </div>
    <div class="text-center p-4 col-md-4">
        <div class="card shadow" style="width: 25rem; height: 20rem;">
            <div class="card-body">
                <h4><b>Profile Details</b></h4>
                <input class="tags w-75 my-2 py-1" type="text" placeholder="Name">
                <input class="tags w-75 my-2 py-1" type="email" placeholder="Email"><br>
                <input class="tags w-75 my-2 py-1" type="number" placeholder="Contact Number"><br>
                <a routerLink="/home"><button class="btn btn-primary w-75 my-2 py-2 shadow-sm">Update Details</button></a>
                <p><span><a routerLink="/signup">Change Password</a></span></p>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container-fluid">
    <div class="background">
        <div class="shop">
            <span class="bg-light text-center"><strong>Shopping Planet</strong></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4 login">
            <input class="tags" type="email" placeholder="Email"><br>
            <input class="tags" style="margin-top: 5%;" type="password" placeholder="Password"><br>
            <a href="#"><button class="btn btn-danger tags">Login</button></a>
        </div>
    </div>
</div> -->