        <div class="container-fluid">
            <div class="background">
                <div class="shop">
                    <span class="bg-light text-center"><strong>Shopping Planet</strong></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                   
                </div>
                <div class="col-md-4 login">
                    <input class="tags" type="email" placeholder="Email"><br>
                    <input class="tags" style="margin-top: 5%;" type="password" placeholder="Password"><br>
                    <a href="#"><button class="btn btn-danger tags">Login</button></a>
                </div>
            </div>
